/* Fornts for our story */
@import url('https://fonts.googleapis.com/css?family=Lato:700|Lobster|Playfair+Display:700');

/* UNIVERSAL styles*/

/*
* {
  transition-duration: 0.2s;
}
*/

.min-height {
  min-height: 700px;
}
.primary-font {
  font-family: 'Lobster', cursive;
}
.secondary-font {
  font-family: 'Lato', Sans-Serif;
}
.white-text {
  color: #FFFFFF;
}
.orange-text {
  color: #F8512F;
}
.thin-text {
  font-weight: 300;
}
.thick-text {
  font-weight: 700;
}
.orange-bg {
  background-color: #F8512F;
}

/*NAVBAR styles*/

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0, 0, 0, .75);
  text-shadow: 1px 1px #000;
}

.navbar-inverse .navbar-nav>li>a {
  color: blue;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,.5);
  color: #fff; /* base orange */
}

.navbar-toggle {
  background-color: blue;
}

/*JUMBOTRON styles*/

#jumbotron-bg {
  background-image: url('../images/vikaaslora.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron {
  padding: 0px;
}

.iam-text {
  margin-top: 100px;
}

/*Our Story styles*/

#our_story .row {
  margin-top: 100px;
}

#our_story h1 {
  font-size: 6em;
  margin-top: 0;
  text-shadow: 2px 2px 5px #000;
}

#our_story h3 {
  font-size: 2em;
  margin-top: 0;
}

.story-year {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  position: absolute;
  z-index: -1;
  color: rgba(149, 147, 147, .2);
}
