/* Fornts for our story */
@import url('https://fonts.googleapis.com/css?family=Lato:700|Lobster|Playfair+Display:700');

/* UNIVERSAL styles*/

* {
  transition-duration: 0.2s;
}

.min-height {
  min-height: 700px;
}

.primary-font {
  font-family: 'Lobster', cursive;
}
.secondary-font {
  font-family: 'Lato', Sans-Serif;
}
.white-text {
  color: #FFFFFF;
}
.orange-text {
  color: #F8512F;
}
.thin-text {
  font-weight: 300;
}
.thick-text {
  font-weight: 700;
}
.orange-bg {
  background-color: #F8512F;
}

/*NAVBAR styles*/

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0, 0, 0, .75);
  text-shadow: 1px 1px #000;
}

.navbar-inverse .navbar-nav>li>a {
  color: blue;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0,0,0,.5);
  color: #fff; /* base orange */
}

.navbar-toggle {
  background-color: blue;
}

/*JUMBOTRON styles*/

#jumbotron-bg {
  background-image: url('../images/vikaaslora.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.jumbotron {
  padding: 0;
}

.iam-text {
  margin-top: 100px;
}




/*Our Story styles*/

#our-story .row {
  margin-top: 100px;
}

#our-story h1 {
  font-size: 6em;
  margin-top: 0;
  text-shadow: 2px 2px 5px #000;
}

#our-story h3 {
  font-size: 2em;
  margin-top: 0;
}

#story-chicago {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: rgba(255, 255, 255, .4);
  position: absolute;
  z-index: 0;
}

#chicago-pic-box {
  height: 400px;
  width: 100%;
}

/*How we met styles*/

#how-we-met .row {
  margin-top: 100px;
}

#how-we-met h1 {
  font-size: 6em;
  margin-top: 0;
  text-shadow: 2px 2px 5px #000;
}

#carousel0 .item {
  height: 300px;
}

/*Engagement styles*/

#engagement .row {
  margin-top:100px;
}

#engagement h1 {
  font-size: 6em;
  margin-top: 0;
  text-shadow: 2px 2px 5px #000;
}

.eng-pic-height {
  height: 300px;
}
/*Carousel styles*/

#picture1-bg {
  background-image: url('../images/ourengagement/proposal/picture1.png');
  height: 100%;
}

#carousel-1 .item {
  height: 300px;
}

#carousel-2 .item {
  height: 300px;
}
/*wedding styles*/

#wedding .row {
  margin-top: 100px;
}

#invitation {
  display: flex;
  align-items: center;

}

#venue {
  display: flex;
  align-items: center;
}

/*footer styles*/

#footerb {
    height: 100px;
    background-color: #333; /* charcol gray */
    color: #fff;
    font-size: 1em;
}

#copyright-sign {

}

#footer-nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

#footer-nav a{
  color: #fff;
}

#footer-nav a:hover {
  color: #aff300;
}

#social-media a{
    color: #fff;
}

#social-media a:hover {
    color: #aff300;
}

#footerb i,a,p {
    margin: 5px 5px;
}
